# Numeric data types

This notebook will provide a basic introduction to numeric data types in Python.

The 3 most important numeric data types in Python are:

  1. **Integers** `int`. Same as in math--these are the counting numbers, plus negatives, plus zero. They are perfectly precise--they store exactly the number that was input to them.

  2. **Floating-point numbers** `float`. Can be used to represent any real number. Default data type for most math operations. They are **imprecise**--they store a very close approximation to the number that was input. This imprecision can lead to errors sometimes when dealing with very small numbers. It also makes floats unsuitable for storing ID or serial numbers.

  3. **Booleans** `bool`. True or false, `True` = 1 and `False` = 0.

  4. **Complex** `complex`. An ordered pair of two floats--the real and the imaginary part. Python will **not** automatically convert simple floats to complex if, for example, you take the square root of -1. Because floats are the default numerical data type, if you need to work with complex results, you will need to explicitly create complex variables.

In what follows, we'll demonstrate a few characteristics of each type.

### Integers

Below, we'll declare an integer. As you can see, it is a very large number: 123,456,789,000,000,000,123,456,789

In any programming environment, there is always an upper limit on the largest number you can represent. In Python, the default integer type allows very large numbers, so that you almost never have to think about this.

Notice that because of the integer type's perfect precision, the stored number is exactly the same as the one that was input.

In [ ]:
# declare an integer
x_integer = 1234567890123456789

# output the integer
print(x_integer)

# output the integer's data type (`int`)
print(type(x_integer))

### Quick exercises for integers

In the empty cell below, do the following:
 1. Declare a negative integer.
 2. Try to declare an integer so large that it gives an error for being too large.

In [ ]:
# negative integer
neg_integer = -10

print(neg_integer)

# too large integer, 4300 digits the max
too_large = 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999
print(too_large)

### Floats

Now, let's declare a float. As you can see, it is the same very large number as before: 1,234,567,890,123,456,789

The difference now is that we have placed a decimal point `.` after it.

Below we also demonstrate 2 alternative ways to define a float: placing a decimal point with a `0` after it (obviously, the zero is superfluous). You could also define a float by applying the `float()` function to an integer, as done in the 3rd example.

In [ ]:
x_float = 1234567890123456789.
x_float_also = 1234567890123456789.0
x_float_also_too = float(1234567890123456789)

print(x_float)
print(type(x_float))

### Float precision

Notice that when we output the float after defining it, the number is shown using scientific notation, with only the first several digits displayed.

This is how numbers are stored as floats--the first several "most significant" digits are stored, and the magnitude of the number is stored as a power of 10. **Not** all of the smaller digits preserved. How can we verify this? We can convert the float back to the integer type and display it.

Notice that now the last 9 digits are quite different from what was originally input.

In [ ]:
print(int(x_float))

### Quick exercises for floats

In the empty cell below, do the following:
 1. Declare a float which only has a few digits, so that it does not lose precision.
 2. Declare a float which has many digits, and so loses precision.
 3. Declare a float which is very close to zero.

In [ ]:
# 1
few_digits = 12345.0
print(few_digits)
print(type(few_digits))


# 2
many_digits_int = 123456789012345678912313
many_digits_fl = 123456789012345678912313.0
print(many_digits_int)
print(many_digits_fl)
print(many_digits_int == many_digits_fl)


# 3
close_to_zero = 0.00000121415100023
print(close_to_zero)

### Booleans

A Boolean variable can take a value of True or False. It can be initiated using the keyword values `True` or `False`. `True` corresponds to an integer 1, and `False` corresponds to an integer 0.

It can can also be initiated by applying the `bool()` function to a 1 or a 0.

In [ ]:
x_bool = True
print(x_bool)
print(type(x_bool))


x_bool_also = bool(1)
print(x_bool_also)
print(type(x_bool_also))

### Logical statements

There are a number of logical operations whose outcome is a Boolean object.

In [ ]:
print(2 > 1)
print(type(2>1))


print(2 == 1)
print(type(2==1))


print((1+1) == 2)
print(type((1+1)==1))

### Float precisions, another demonstration

If we test directly whether the float copy of our earlier "big" number is preserved when stored as a float, the outcome will be a Boolean object

In [ ]:
print(x_float == x_integer)

### Quick exercises for comparing floats and integers

In the empty cell below, do the following:
 1. Declare a number as a float and an integer, such that the float equals the integer (returns `True` for the `==` logical test.)
 2. Declare a number as a float and an integer, such that the float does **not** equal the integer (returns `False` for the `==` logical test.)

In [ ]:
x_float =1.0
x_int = 1

print(x_float==x_int)


many_digits_int = 123456789012345678912313
many_digits_fl = 123456789012345678912313.0
print(many_digits_int==many_digits_fl)

### Infinity and NaN

The float data type has the ability to take values representing positive and negative infinity. It can also take the "NaN"/"nan"/"Not a Number" value.

Most operations will NOT yield infinity or Not a Number as a result. If you try to divide by zero or create too large of a number, it will instead return an error.

An exception to this can be found in the NumPy package. Operations conducted through NumPy *will*, for example, return infinity or negative infinity for dividing by zero.

In [ ]:
## Declaring infinity with standard Python float

unbounded = float('inf')

print(unbounded)

print(type(unbounded))

print(-unbounded)

In [ ]:
## Declaring not a number with standard Python float


notanumber = float('nan')

print(notanumber)

print(type(notanumber))

In [ ]:
## Generate an overflow error
## Because this uses the default Python float datatype, it will generate an error

print(100.**1000000000)

In [ ]:
## Using NumPy, instead we get infinity

import numpy as np


bignumber = np.float64(100.)**1000000000
#Prints a warning as opposed to an error
print(bignumber)
print(type(bignumber))

In [ ]:
## Generate a divide by zero error

print(100./0)

In [ ]:
## Using NumPy, instead we get infinity

import numpy as np

print(np.float64(100.)/0)

print(-np.float64(100.)/0)

### Quick exercises for NaN and Inf

 1. Divide zero by zero using default Python floats. What is the result? Does this make sense to you? Why or why not?
 2. Divide zero by zero using default NumPy floats. What is the result? Does this make sense to you? Why or why not?
 3. Can you find a NumPy operation other than dividing by zero which can return infinity?

In [ ]:
#1. Commenting out so I can run 2
#zero = 0.0
#zero/zero

#2. returns nan
np_zero = np.float64(0.0)
print(np_zero/np_zero)

#3. e.g. log or inf +/- anything
# Returns neg inf
print(np.log(0))
print(np.log(-10))


#### Comparisons with Infinity and NaN

Probably the most important basic fact to learn about infinity and NaN is what they will return in inequality comparisons.

Logically, positive infinity is greater than any finite value, and negative infinity is less than any finite value.

NaN means not a number, so any comparisons with NaN return False, no matter what.

In [ ]:
## +inf is greater than anything (True for >, False for <)
print('+inf is greater than anything (True for >, False for <)')
print('Positive infinity > 10000:',float('inf') > 10000)
print('Positive infinity < 10000:',float('inf') < 10000)
print('')

## -inf is less than anything (False for >, True for <)
print('-inf is less than anything (False for >, True for <)')
print('Negative infinity > -10000:',-float('inf') > -10000)
print('Negative infinity < -10000:',-float('inf') < -10000)
print('')

## NaN returns false for all comparisons (False for <, False for >)
print('NaN returns false for all comparisons (False for <, False for >)')
print('NaN > positive infinity:',float('nan') > float('inf'))
print('NaN < positive infinity:',float('nan') > float('inf'))
print('')

## NaN returns false for all comparisons (False for <, False for >)
print('NaN returns false for all comparisons (False for <, False for >)')
print('NaN > 10000:',float('nan') > 10000)
print('NaN < 10000:',float('nan') < 10000)
print('')

In [ ]:
### Quick exercises for NaN and Inf comparisons

 1. Test whether or not NaN is equal to itself. Does this `==` test return `True` or `False`? Does this make sense to you? Why or why not?

#Returns false, makes sense bc can have diff NaNs
not_a_num = float('nan')
print(not_a_num == not_a_num)

### Complex numbers

A complex number is a pair of two floats: the real part and the imaginary part.

The imaginary part can be written with a `j` following it. So `1.0` will be a non-complex float, but `1.0 + 0.0j` will take the same value, but as a complex number (which happens to have no imaginary part, yet).

If you take the square root of a negative non-complex float, you will get an error or NaN. The square root of a negative number declared as a complex number will return the mathematically correct result (an imaginary number).

In [ ]:
## Two ways of declaring the same number: one as a non-complex float, the other as a complex number

one_noncomplex = -1.0
one_complex = -1.0 + 0.0j

## If you check equality of the two variables, it returns True! As it should--they're just two ways of declaring a variable to store the same value.
print(one_noncomplex == one_complex)

## Square root of -1 for non-complex number is NaN (with NumPy).
print(np.sqrt(one_noncomplex))

## Square root of -1 for complex number is `i` (with NumPy).
print(np.sqrt(one_complex))

### Quick exercises for complex numbers

 1. Declare some complex number variables and perform at least 3 different operations with them.

In [ ]:
c_1 = np.sqrt(-2.0 + 0.0j)
c_2 = 2.0 + 3.0j

print(c_1)
print(c_1 + c_2)

#Creates slight floating point error when squaring the sqrt
print(c_1**2)